<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>You've made it to the bar</h1>

USERNAME: {{.UserName}}<br>
PASSWORD: {{.Password}}<br>
FIRST NAME: {{.FirstName}}<br>
LAST NAME: {{.LastName}}<br>

</body>
</html>