<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1>This is the Title</h1>

    <form method="POST">
    <input type="text" name: "username" placeholder: "Username">
    <input type="submit" value="Submit">
    
    


</body>
</html>