<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="post">

    <input type="string" name="username" placeholder="username"><br>
    <input type="submit">

</form>


{{if .UserName}}
USER NAME {{.UserName}}<br>
{{end}}

</body>
</html>