<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="post">

    <input type="email" name="username" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit">

</form>

<br>
<a href="/index">Create Account</a>
<a href="/bar">Bar</a>
</body>
</html>